.defocused:focus {
  outline: 0;
}
.resp-table {
  width: 100%;
  display: table;
}
.resp-table-caption {
  display: table-caption;
  text-align: center;
  /* font-size: 30px;
  font-weight: bold; */
  user-select: none;
}

.resp-table-caption > *:first-child {
  margin-bottom: 0;
}
.resp-table-caption > *:last-child {
  margin-top: 0;
}
.resp-table-header {
  display: table-header-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
}
.table-header-cell {
  display: table-cell;
  padding: 20px;
  text-align: justify;
  border-bottom: 1px solid black;
}
.resp-table-body {
  display: table-row-group;
}
.resp-table-row {
  display: table-row;
}
.table-body-cell {
  display: table-cell;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  font-weight: 500;
}
.table-body-cell:last-child {
  text-align: right;
}

.resp-table-footer {
  display: table-footer-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.45);
}
.table-footer-cell {
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}

.quickPayRadioButton:active {
  background: linear-gradient(0deg, #00ac17, #4bc25c);
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  -webkit-transform: translateZ(0) scale(0.5);
  -ms-transform: translateZ(0) scale(0.5);
  transform: translateZ(0) scale(0.5);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: linear-gradient(0deg, rgb(75, 137, 246), rgb(46, 122, 255));
  border-radius: 10.2em 3em 3em 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: linear-gradient(0deg, rgb(18, 173, 30), rgb(70, 191, 86));
  border-radius: 3em 10.2em 10.2em 3em;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circular-avatar {
  width: 2em;
  height: 2em;
  background-size: contain !important;
  display: inline-block;
  margin: 0.4em;
  border-radius: 2em;
}
